/* You can add global styles to this file, and also import other style files */

:root {
  /* Font sizes */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;

  /* Padding */
  --padding-xs: 2px 6px;
  --padding-sm: 4px 8px;
  --padding-md: 6px 10px;
  --padding-lg: 8px 12px;

  /* Border radius */
  --border-radius-xs: 8px;
  --border-radius-sm: 10px;
  --border-radius-md: 12px;
  --border-radius-lg: 14px;

  /* Gap */
  --gap-xs: 2px;
  --gap-sm: 4px;
  --gap-md: 6px;
  --gap-lg: 8px;

  /* Text colors */
  --color-text: #1a1b1f;
  --color-text-white: #e3e2e6;
  --color-text-gray-light: #adb5bd;
  --color-text-primary-default: #539364;
  --color-text-accent-default: #2563eb;
  --color-text-success-default: #539364;
  --color-text-warning-default: #ea580c;
  --color-text-danger-default: #b91c1c;

  /* Border colors */
  --color-border-gray-idle: #ced4da;
  --color-border-primary-idle: #6db681;
  --color-border-accent-idle: #60a5fa;
  --color-border-success-idle: #6db681;
  --color-border-warning-idle: #fb923c;
  --color-border-danger-idle: #f87171;

  /* Background colors */
  --color-bg-gray-idle: #e7ecf3;
  --color-bg-primary-idle: #cbe7ce;
  --color-bg-accent-idle: #dbeafe;
  --color-bg-success-idle: #cbe7ce;
  --color-bg-warning-idle: #ffedd5;
  --color-bg-danger-idle: #fce8e6;
  --color-bg-primary-active: #539364;

  /* Toggle */
  --color-toggle-track-off: #ccc;
  --color-toggle-thumb: #fff;
}
